* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.card {
    border: 10px solid rgb(179, 107, 14);
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.header {
    background-color: antiquewhite;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    padding: ;
}
.logo {
    font-size: 60px;
    
}
ul {
    list-style: none;
    display: flex;
    gap : 20px;
    flex-direction: row;
}
li button {
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
    border: 5px solid grey;
    border-radius: 30px;
    
}
.add-book {
    background-color: rgba(55, 115, 228, 0.349);
    display: flex;
    justify-content: center;
    padding: 20px;
}
.add-book button {
    width: fit-content;
    padding: 20px;
    border: 5px solid grey;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 600;
}

.main {
    padding: 100px;
    display: flex;
    justify-content: center;
}

/* 
styling the form
*/
form {
    /* display: none; */
    /* margin: 50%; */
}